<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Datta Able</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="Profile Page" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Profile Page</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>研发需求</label>
                </li>
                <li data-username="需求统计" 
                    class="nav-item {% if 'demand_statistics' in segment %} active {% endif %}">
                    <a href="{{ url_for('demand_admin.statistics') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span>
                        <span class="pcoded-mtext">需求统计</span></a>
                </li>
                <li data-username="需求管理" 
                    class="nav-item {% if 'demand_list' in segment %} active {% endif %}">
                    <a href="{{ url_for('demand_admin.list_demands') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-list"></i></span>
                        <span class="pcoded-mtext">需求管理</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>UI Element</label>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span
                            class="pcoded-mtext">Components</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/bc_button.html" class="">Button</a></li>
                        <li class=""><a href="/bc_badges.html" class="">Badges</a></li>
                        <li class=""><a href="/bc_breadcrumb-pagination.html" class="">Breadcrumb & paggination</a></li>
                        <li class=""><a href="/bc_collapse.html" class="">Collapse</a></li>
                        <li class=""><a href="/bc_tabs.html" class="">Tabs & pills</a></li>
                        <li class=""><a href="/bc_typography.html" class="">Typography</a></li>


                        <li class=""><a href="/icon-feather.html" class="">Feather<span
                                class="pcoded-badge label label-danger">NEW</span></a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Forms & table</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Form elements</span></a>
                </li>
                <li data-username="Table bootstrap datatable footable" 
                    class="nav-item {% if 'tbl_bootstrap' in segment %} active {% endif %}">
                    <a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>会员管理</label>
                </li>
                <li data-username="会员管理 会员列表 会员等级 达人申请 达人管理" 
                    class="nav-item pcoded-hasmenu {% if 'member' in segment %} active {% endif %}">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-users"></i></span><span
                            class="pcoded-mtext">会员管理</span></a>
                    <ul class="pcoded-submenu">
                        <li class="{% if 'member/user_list' in segment %}active{% endif %}">
                            <a href="/admin/member/user/list" class="">会员列表</a>
                        </li>
                        <li class="{% if 'member/member_level' in segment %}active{% endif %}">
                            <a href="/admin/member/level" class="">会员等级</a>
                        </li>
                        <li class="{% if 'member/talent_apply_list' in segment %}active{% endif %}">
                            <a href="/admin/member/talent/apply" class="">达人申请</a>
                        </li>
                        <li class="{% if 'member/talent_list' in segment %}active{% endif %}">
                            <a href="/admin/member/talent/list" class="">达人管理</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>选品管理</label>
                </li>
                <li data-username="选品管理 商品管理 分类管理 店铺管理 佣金管理" 
                    class="nav-item pcoded-hasmenu {% if 'product' in segment %} active {% endif %}">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span><span
                            class="pcoded-mtext">商品管理</span></a>
                    <ul class="pcoded-submenu">
                        <li class="{% if 'product/list' in segment %}active{% endif %}">
                            <a href="/admin/product/list" class="">商品列表</a>
                        </li>
                        <li class="{% if 'product/category' in segment %}active{% endif %}">
                            <a href="/admin/product/category" class="">商品分类</a>
                        </li>
                        <li class="{% if 'product/commission' in segment %}active{% endif %}">
                            <a href="/admin/product/commission" class="">佣金管理</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>样品申请管理</label>
                </li>
                <li data-username="样品申请 审核管理 发货管理 状态维护" 
                    class="nav-item pcoded-hasmenu {% if 'sample' in segment %} active {% endif %}">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-package"></i></span><span
                            class="pcoded-mtext">样品申请管理</span></a>
                    <ul class="pcoded-submenu">
                        <li class="{% if 'sample/apply_list' in segment %}active{% endif %}">
                            <a href="/admin/sample/apply/list" class="">申请列表</a>
                        </li>
                        <li class="{% if 'sample/review' in segment %}active{% endif %}">
                            <a href="/admin/sample/review" class="">审核管理</a>
                        </li>
                        <li class="{% if 'sample/ship' in segment %}active{% endif %}">
                            <a href="/admin/sample/ship" class="">发货管理</a>
                        </li>
                        <li class="{% if 'sample/status' in segment %}active{% endif %}">
                            <a href="/admin/sample/status" class="">状态维护</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Chart & Maps</label>
                </li>
                <li data-username="Charts Morris" 
                    class="nav-item {% if 'chart-morris' in segment %} active {% endif %}">
                    <a href="/chart-morris.html" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
                </li>
                <li data-username="Maps Google" 
                    class="nav-item {% if 'map-google' in segment %} active {% endif %}">
                    <a href="/map-google.html" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-map"></i></span><span
                        class="pcoded-mtext">Maps</span></a></li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Pages</label>
                </li>
                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
                            class="pcoded-mtext">Authentication</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/register.html" class="" target="_blank">Sign UP</a></li>
                        <li class=""><a href="/login.html" class="" target="_blank">Sign IN</a></li>
                    </ul>
                </li>

                <li data-username="Sample Page" class="nav-item"><a href="/page-blank.html" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a>
                </li>

                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>More Resources</label>
                </li>                    
                <li data-username="Support Page" class="nav-item ">
                    <a target="_blank" href="https://appseed.us/support" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-headphones"></i>
                        </span>
                        <span class="pcoded-mtext">Support</span>
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
