{% extends "layouts/base.html" %}

{% block title %}会员管理{% endblock %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-header">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <div class="d-inline">
                                            <h4>会员管理</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>会员达人模块后台管理</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6">
                                                    <a href="{{ url_for('member.user_list') }}" class="btn btn-primary btn-block m-b-10">
                                                        <i class="feather icon-users"></i> 用户管理
                                                    </a>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <a href="{{ url_for('member.member_level') }}" class="btn btn-success btn-block m-b-10">
                                                        <i class="feather icon-star"></i> 会员等级配置
                                                    </a>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <a href="{{ url_for('member.talent_apply_list') }}" class="btn btn-warning btn-block m-b-10">
                                                        <i class="feather icon-user-check"></i> 达人申请审核
                                                    </a>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <a href="{{ url_for('member.talent_list') }}" class="btn btn-info btn-block m-b-10">
                                                        <i class="feather icon-award"></i> 达人管理
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
